body
{
	background: url("/static/imgs/live.ac1d64cfeb64.jpg") no-repeat center fixed;
	text-align: center;
}
label
{
	display: block;
}
.jumbotron
{
	display: inline-block;
	width: 50%;
	/*height: 100%;*/
	border-radius: 5%;
	position: absolute;
	left: 25%;
	opacity: .75;
}
.jumbotron img
{
	width: 150px;
	height: 150px;
}

