{% extends "base.html" %}

{% block body %}

<div class="jumbotron">

	<div class="container">
		<div class="col-md-12 col-sm-12">

			<h2 class="label-middle"> {{ artist.name }} </h2>
			<img class="artist-art" src="{{artist.images.0.url}}">
		</div>
	</div>

	<h2 class="label-middle"> Albums </h2>

	<div class="container">
		<div class="grid">
			{% for a in albums %}
			<div class="grid-item">
				<span> {{ a.name }}</span>
				<img id="{{a.id}}"class="album-img" src="{{a.images.0.url}}">
				<audio>
					<source src="{{a.preview_url}}">
				</audio>
				</div>
				{% endfor %}
			</div>
		</div>

		<h2 class="label-middle"> Simlar Artists </h2>	
		<div class="container">
			<div class="grid">
				{% for s in similar %}
				<div class="grid-item">
					<span> {{ s.name }}</span>
					<a href="{% url 'artist' s.id %}"> 
						<img src="{{s.images.0.url}}" alt="">
					</a>
				</div>
				{% endfor %}				
			</div>
		</div>
	</div>


	<!-- Load Jquery and Masonry -->
	{% load staticfiles %}
	<!-- <script src="{% static 'js/jquery-2.1.4.min.js' %}"></script>	 -->
	<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>	
	<script src="{% static 'js/masonry.pkgd.min.js' %}"></script>
	<script src="{% static 'js/soundbit.js' %}"></script>
	{% endblock %}